body {
  background-color: cornsilk;
  margin: 0;
  display: flex;
  justify-content: center; /* Horizontal */
  align-items: center;    /* Vertical */
  min-height: 100vh;      /* Full viewport height */
}
